

        <div class="container rounded border border-light" *ngFor="let item of listProduits">
            <div *ngIf="item.active">
                <div class="row m-2" >
                    <div class="col-4">
                        <img src="./assets/image-not-found.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">{{item.nom}}</h5>
                            <p class="card-text">{{item.description}}</p>
                            <p class="card-text">{{item.prix}} $CAD</p>
                            <ng-template [ngIf]="!item.vendu">
                                <button type="button" class="btn btn-info mr-3" (click)="produitVendu(item.id)">Acheter</button>
                            </ng-template>
                            
                            <div *ngIf="item.vendu" class="m-3">
                                <div class="alert alert-success" role="alert">
                                    Produit ajoute à liste clients
                            </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
              
            </div>

            


