<div class="col-ml-auto">
        <a [routerLink]="['/sellers']"  class="btn btn-primary active m-3" role="button">link vers sellers</a>

        <a [routerLink]="['/createSeller']"  class="btn btn-primary active m-3" role="button">create seller</a>
        <a [routerLink]="['/products']"  class="btn btn-primary active m-3" role="button">list products</a>
        <a [routerLink]="['/admin']"  class="btn btn-primary active m-3" role="button">admin</a>

        <a [routerLink]="['client/produits']"  class="btn btn-primary active m-3" role="button">client products</a>

</div>


<div class="container">
        <!-- <app-list-products></app-list-products>

        <app-login></app-login> -->

      
</div>









